<main>
<h1>Editing Asset</h1>

<%= raw assets_content_type_icon(@asset, 64) %>

<%= render 'form', asset: @asset %>

<p>
  <strong>File:</strong>
  <%= @asset.file %>
</p>

<p>
  <strong>URL:</strong>
  <%= @asset.file.url %>
</p>

<% if @asset.content_type.start_with?('image') %>
  <% @asset.file.versions.each do |version| %>
  <p>
    <strong><%= version.first %>: </strong>
    <%= link_to 'Download', app_asset_download_path(:asset_id => @asset, :variant => version.first), :target => '_blank' %>
  </p>
  <% end %>
<% end %>

<%= link_to 'Show', [@app, @asset] %> |
<%= link_to 'Back', app_assets_path %>

<main>
