<main>
    <div class="list-group">
        <%= link_to "New assets", new_app_asset_path, :class => "list-group-item active" %>
        <% @assets.each do |asset| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-end align-items-center">
                <span class="p-2">
                    <%= image_tag(asset.file.url, size: "32", :class => "img-responsive rounded-circle")%>
                </span>
                <a class="mr-auto p-2" href="<%= asset.file %>" target="_self"><%= asset.file %></a>
                <span class="p-2"><%= button_to 'Edit', edit_app_asset_path(@app, asset), method: :get, :class => "btn btn-outline-primary" %></span>
                <span class="p-2"><%= button_to 'Destroy', [@app, asset], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></span>
            </div>
        </div>
        <% end %>
    </div>
</main>
