<main>
    <div class="list-group">
        <%= link_to "New assets", new_app_asset_path, :class => "list-group-item active" %>
        <% @assets.each do |asset| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-end align-items-center">
                <span class="p-2">
                    <%= raw assets_content_type_icon(asset, 32) %>
                </span>
                <%= link_to "#{asset.file_identifier}", edit_app_asset_path(@app, asset), :class => 'mr-auto p-2' %>
                <span class="p-2"><%= button_to 'Edit', edit_app_asset_path(@app, asset), method: :get, :class => "btn btn-outline-primary" %></span>
                <span class="p-2"><%= button_to 'Destroy', [@app, asset], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></span>
            </div>
        </div>
        <% end %>
    </div>
</main>
