<p id="notice"><%= notice %></p>

<h1>Assets</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.file %></td>
        <td><%= link_to 'Show', [@app, asset] %></td>
        <td><%= link_to 'Edit', edit_app_asset_path(@app, asset) %></td>
        <td><%= link_to 'Destroy', [@app, asset], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_app_asset_path %>
