<%= form_for(app, remote: request.xhr?, html: { data: { modal: true }}) do |f| %>
<div class="modal-body">
<% if app.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(app.errors.count, "error") %>
        prohibited this app from being saved:</h2>

    <ul>
        <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
    <%= f.label :internal_name %>
    <%= f.text_field :internal_name, :class => "form-control" %>
</div>

<% if app.new_record? and current_user.apps.any? %>

<div class="form-group btn-group" data-toggle="buttons">
  <%= label_tag(:create_new, "Create new", :class => "btn btn-outline-primary active", :id => "create_new") do %>
    <%= radio_button_tag(:send, "now", true) %> Create new
  <% end %>
  <%= label_tag(:create_existing, "Clone existing one", :class => "btn btn btn-outline-primary", :id => "create_existing") do %>
    <%= radio_button_tag(:create, "existing") %> Clone an existing one
  <% end %>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div id="chooseExistingApp" class="panel-collapse collapse in">
            <div class="panel-body form-group">
                <%= select_tag "origin", options_from_collection_for_select(@apps, :id, :internal_name), :class => "form-control" %>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#create_new").click(function () {
            $("#chooseExistingApp").collapse('hide');
        });
        $("#create_existing").click(function () {
            $("#chooseExistingApp").collapse('show');
        });
    });
</script>

<% end %>

</div>
<div class="modal-footer">
  <%= f.submit :class => "btn btn-success" %>
  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
</div>
<% end %>
