<main>
<%= form_for(@app) do |f| %>
<% if @app.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@app.errors.count, "error") %>
        prohibited this app from being saved:</h2>

    <ul>
        <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.hidden_field :internal_name %>

<section class="card">
    <div class="card-header">
        Android
    </div>
    <div class="card-body">
        <div class=" form-group">
            <%= f.label "Repository URL:" %><br/>
            <%= text_field_tag "app[android_config][repository_url]", f.object.android_config["repository_url"], :class => "form-control" %>
        </div>

        <div class=" form-group">
            <%= f.label "Publishing Profile:" %><br/>
            <%= select_tag "app[android_config][publishing_profile]", options_for_select(Rails.configuration.cockpit['publishing_profiles'].keys, f.object.android_config["publishing_profile"]), :class => "form-control" %>
        </div>

        <div class="custom-file">
        <%= f.file_field :android_firebase, accept: 'application/json', :class => class_string("custom-file-input" => true, "is-valid" => !@app.android_firebase.file.nil?), :'aria-describedby' => "fileHelp" %>
        <%= f.label 'Android Firebase JSON file', :class => "custom-file-label" %>
        <%= content_tag(:div, content_tag(:p, "You have already uploaded an firebase configuration."), class: "valid-feedback") if !@app.android_firebase.file.nil? %>

        <!-- <div class="custom-file" id="customFile" lang="en">
        <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
        <label class="custom-file-label" for="exampleInputFile">
           Select file...
        </label> -->
</div>
    </div>
</section>

<section class="card">
    <div class="card-header">
        iOS
    </div>
    <div class="card-body">
        <div class="form-group">
            <%= f.label "Repository URL:" %><br/>
            <%= text_field_tag "app[ios_config][repository_url]", f.object.ios_config["repository_url"], :class => "form-control" %>
        </div>

        <div class=" form-group">
            <%= f.label "Publishing Profile:" %><br/>
            <%= select_tag "app[ios_config][publishing_profile]", options_for_select(Rails.configuration.cockpit['publishing_profiles'].keys, f.object.ios_config["publishing_profile"]), :class => "form-control" %>
        </div>

        <div class="custom-file">
        <%= f.file_field :ios_firebase, accept: 'application/json', :class => class_string("custom-file-input" => true, "is-valid" => !@app.ios_firebase.file.nil?), :'aria-describedby' => "fileHelp" %>
        <%= f.label 'iOS Firebase plist file', :class => "custom-file-label" %>
        <%= content_tag(:div, content_tag(:p, "You have already uploaded an firebase configuration."), class: "valid-feedback") if !@app.ios_firebase.file.nil? %>
    </div>
</section>

<section class="actions">
    <%= f.submit :class => "btn btn-primary" %>
</section>
<% end %>
</main>
