<main>
<%= form_for(@app) do |f| %>
<% if @app.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@app.errors.count, "error") %>
        prohibited this app from being saved:</h2>

    <ul>
        <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.hidden_field :internal_name %>

<section class="card">
    <div class="card-header">
        Android
    </div>
    <div class="card-block">
        <div class=" form-group">
            <%= f.label "Repository url:" %><br/>
            <%= text_field_tag "app[android_config][repository_url]", f.object.android_config["repository_url"], :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Jenkins job:" %><br/>
            <%= select_tag "app[android_config][jenkins_job]", options_for_select(@jobs, f.object.android_config["jenkins_job"]), include_blank: "---", :class => "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label "Netmetrix url:" %><br/>
            <%= text_field_tag "app[android_config][netmetrix_url]", f.object.android_config["netmetrix_url"], :class => "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label "Netmetrix User-Agent:" %><br/>
            <%= text_field_tag "app[android_config][netmetrix_ua]", f.object.android_config["netmetrix_ua"], :class => "form-control" %>
        </div>
    </div>
</section>

<section class="card">
    <div class="card-header">
        iOS
    </div>
    <div class="card-block">
        <div class="form-group">
            <%= f.label "Repository url:" %><br/>
            <%= text_field_tag "app[ios_config][repository_url]", f.object.ios_config["repository_url"], :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Jenkins job:" %><br/>
          <%= select_tag "app[ios_config][jenkins_job]", options_for_select(@jobs, f.object.ios_config["jenkins_job"]), include_blank: "---", :class => "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label "Netmetrix url:" %><br/>
            <%= text_field_tag "app[ios_config][netmetrix_url]", f.object.ios_config["netmetrix_url"], :class => "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label "Netmetrix User-Agent:" %><br/>
            <%= text_field_tag "app[ios_config][netmetrix_ua]", f.object.ios_config["netmetrix_ua"], :class => "form-control" %>
        </div>
    </div>
</section>

<section class="actions">
    <%= f.submit :class => "btn btn-primary" %>
</section>
<% end %>
</main>
