<%= render 'navigation', application: @app, applications: @apps %>

<% if notice %>
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
</div>
<% end %>

<% if alert %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= alert %>
</div>
<% end %>

<% if danger %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= danger %>
</div>
<% end %>

<main class="tab-content">
    <div class="tab-pane active" id="app" role="tabpanel">
        <h1>
        <%= image_tag(@app.android_icons.first, size: "48", :class => "img-responsive rounded-circle") if @app.android_icons? %>
        <%= @app.internal_name %></h1>

        <%= render 'settings', app: @app %>
    </div>
    <div class="tab-pane fade" id="assets" role="tabpanel">

        <h1>
          <%= image_tag(@app.android_icons.first, size: "48", :class => "img-responsive rounded-circle") if @app.android_icons? %>
          Assets
          <%= @app.internal_name %></h1>
        <%= render partial: 'assets', locals: {app: @app} %>
    </div>

    <div class="tab-pane fade" id="build" role="tabpanel">
        <h1>
          <%= image_tag(@app.android_icons.first, size: "48", :class => "img-responsive rounded-circle") if @app.android_icons? %>
          Build
            <%= @app.internal_name %></h1>
        <%= render partial: 'build', locals: {jobs: @jobs, app: @app} %>
    </div>
    <div class="tab-pane fade" id="store" role="tabpanel">
        <h1>
          <%= image_tag(@app.android_icons.first, size: "48", :class => "img-responsive rounded-circle") if @app.android_icons? %>
          Prepare
            <%= @app.internal_name %></h1>
            <%= render 'prepare', app: @app %>
    </div>
    <div class="tab-pane fade" id="publish" role="tabpanel">
        <h1>
          <%= image_tag(@app.android_icons.first, size: "48", :class => "img-responsive rounded-circle") if @app.android_icons? %>
          Publish
            <%= @app.internal_name %></h1>
            <%= render 'publish', app: @app %>
    </div>
</main>
