<%= render 'navigation', application: @app, applications: @apps %>

<main class="tab-content">
    <div class="tab-pane active" id="app" role="tabpanel">
        <h1><%= @app.internal_name %></h1>

        <%= render 'settings', app: @app %>

        <%= link_to 'Show', @app %>
        |
        <%= link_to 'Back', apps_path %>
    </div>
    <div class="tab-pane fade" id="build" role="tabpanel">
        <h1>Build
            <%= @app.internal_name %></h1>
        <%= render 'build', app: @app %>
    </div>
    <div class="tab-pane fade" id="store" role="tabpanel">
        <h1>Prepare
            <%= @app.internal_name %></h1>
    </div>
    <div class="tab-pane fade" id="publish" role="tabpanel">
        <h1>Publish
            <%= @app.internal_name %></h1>
    </div>
</main>
