<main>
    <div class="list-group">
        <%= link_to "Create new application", new_app_path, :class => "list-group-item active" %>
        <% @apps.each do |app| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-end align-items-center">
                <span class="p-2">
                    <%= image_tag(app.android_icon.url, size: "32", :class => "img-responsive rounded-circle") if app.android_icon? %>
                </span>
                <span class="mr-auto p-2"><%= app.internal_name %></span>
                <span class="p-2"><%= button_to 'Edit', edit_app_path(app), method: :get, :class => "btn btn-outline-primary" %></span>
                <span class="p-2"><%= button_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></span>
            </div>
        </div>
        <% end %>
    </div>
</main>
