<main>
  <div class="list-group">
    <%= link_to(new_app_path, remote: true, data: { modal: true }, :class => 'list-group-item active justify-content-between') do %>
    <div class="d-flex w-100 justify-content-end align-items-center">
      <i class="fa fa-plus p-2" aria-hidden="true"></i>
      <span class="mr-auto p-2">Create new application</span>
    </div>
    <% end %>
    <% @apps.each do |app| %>

    <div class="list-group-item list-group-item-action d-flex flex-row justify-content-start">
      <%= link_to(edit_app_path(app), :class=>'w-75 mr-auto d-flex flex-row align-items-center') do %>
      <div class="p-2">
        <% if app.icon? %>
        <%= image_tag('placeholder.png', size: "48", :class => "img-fluid preload", data: {source: app.icon.url}) %>
        <% else %>
        <%= image_tag('placeholder.png', size: "48", :class => "img-fluid")%>
        <% end %>
      </div>

      <div class="p-2 mr-auto d-flex flex-column">
        <h5 class="mb-1"><%= app.internal_name %></h5>
        <%= content_tag(:small, "cloned from #{app.origin.internal_name}") if app.origin? %>
      </div>
      <% end %>

      <div class="mr-auto d-flex flex-row justify-content-end align-items-center">
        <%= button_to 'Invite', app_autority_invite_path(app), remote: true, method: :post, :class => "mx-1 btn btn-outline-primary" if current_user.has_role? :admin, app %>
        <%= button_to 'Edit', edit_app_path(app), method: :get, :class => "mx-1 btn btn-outline-primary" %>
        <%= button_to 'Delete', app, method: :delete, data: { confirm: 'Are you sure?' }, :class => "mx-1 btn btn-outline-danger" if current_user.has_role? :admin, app %>
      </div>
    </div>
    <% end %>
  </div>
</main>
