<main>
  <%= form_tag send_notifications_app_path(@app) do %>

  <section class="card">
    <div class="card-header">
      Settings
    </div>
    <div class="card-block">
      <div class=" form-group">
        <%= label_tag 'notification[firebase_server_key]', "Firebase Server key:" %><br/>
        <%= text_field_tag "notification[firebase_server_key]", @notification.try(:auth_key) || "", :class => "form-control", :readonly => @notification.try(:auth_key) %>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      Notification
    </div>
    <div class="card-block">
      <div class=" form-group">
        <%= label_tag 'notification[url]', "URL", :class => "form-control-label" %><br/>
        <%= url_field_tag 'notification[url]', '', :class => "form-control" %>
      </div>

      <div class=" form-group">
        <%= label_tag 'notification[title]', "Title", :class => "form-control-label" %><br/>
        <%= text_field_tag 'notification[title]', '', :class => "form-control" %>
      </div>

      <div class=" form-group">
        <%= label_tag 'notification[message]', "Message", :class => "form-control-label" %><br/>
        <%= text_field_tag 'notification[message]', '', :class => "form-control" %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <%= submit_tag "Send", method: :post, :class => "btn btn-success" %>
    </div>
  </section>
  <% end %>

  <section>

    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Details </th>
          <th>Data</th>
          <th>Notification</th>
        </tr>
      </thead>
      <tbody>
        <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.processing ? 'Processing' : notification.failed ? 'Failed' : 'Delivered'%></td>
          <td><pre><%= notification.error_description || "#{time_ago_in_words(notification.delivered_at) if notification.delivered_at}" %></pre></td>
          <td><code><%= notification.data.tap { |hs| hs.delete('to') } %></code></td>
          <td><code><%= notification.notification.tap { |hs| hs.delete('to') } %></code></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</main>
