<main>
<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %>
          prohibited this app from being saved:</h2>

      <ul>
          <% @app.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  </div>
  <% end %>

<%= f.hidden_field :internal_name %>

<section class="card">
    <div class="card-header">
        Android
    </div>
    <div class="card-body">
        <div class=" form-group">
            <%= f.label 'Application ID:' %><br/>
            <%= text_field_tag "app[android_config][bundle_id]", f.object.android_config["bundle_id"], :class => "form-control", 'aria-describedby' => "bundleIdHelp" %>
            <small id="bundleIdHelp" class="form-text text-muted">Unique application identifier. In most cases contains the company domain and app name. Example: com.example.appname.variant</small>
        </div>

        <div class=" form-group">
            <%= f.label 'Version code:' %><br/>
            <%= number_field_tag "app[android_config][version_code]", f.object.android_config["version_code"] || 1, min: f.object.android_config["version_code"] || 1, :class => "form-control", 'aria-describedby' => "versionCodeHelp" %>
            <small id="versionCodeHelp" class="form-text text-muted">Positive number that must be greater than the previous one. Example: 100</small>
        </div>

        <div class=" form-group">
            <%= f.label 'Version name:' %><br/>
            <%= text_field_tag "app[android_config][version_name]", f.object.android_config["version_name"] || "1.0.0", :class => "form-control", 'aria-describedby' => "versionNameHelp" %>
            <small id="versionNameHelp" class="form-text text-muted">Human-readable version name of the app. Example: "v1.1.0-20170524"</small>
        </div>
    </div>
</section>

<section class="card">
    <div class="card-header">
        iOS
    </div>
    <div class="card-body">
      <div class=" form-group">
          <%= f.label "Bundle ID:" %><br/>
          <%= text_field_tag "app[ios_config][bundle_id]", f.object.ios_config["bundle_id"], :class => "form-control", 'aria-describedby' => "bundleIdHelp" %>
          <small id="bundleIdHelp" class="form-text text-muted">Unique application identifier. In most cases contains the company domain and app name. Example: com.example.appname.variant</small>
      </div>

      <div class=" form-group">
          <%= f.label 'Build number:' %><br/>
          <%= number_field_tag "app[ios_config][version_code]", f.object.ios_config["version_code"] || 1, min: 1, :class => "form-control", 'aria-describedby' => "versionCodeHelp" %>
          <small id="versionCodeHelp" class="form-text text-muted">Positive number that must be greater than the previous one. Example: 100</small>
      </div>

      <div class=" form-group">
          <%= f.label 'Version number:' %><br/>
          <%= text_field_tag "app[ios_config][version_name]", f.object.ios_config["version_name"] || "1.0.0", :class => "form-control", 'aria-describedby' => "versionNameHelp" %>
          <small id="versionNameHelp" class="form-text text-muted">Human-readable version name of the app. Example: "1.0.2"</small>
      </div>
    </div>
</section>

<section class="actions">
    <%= f.submit :class => "btn btn-primary" %>
</section>
<% end %>
</main>
