<main>

<%= form_for(@app) do |f| %>
<% if @app.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@app.errors.count, "error") %>
        prohibited this app from being saved:</h2>

    <ul>
        <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form-group row">
    <div class="col-2 text-center"><%= image_tag(@app.android_icon.url, :size => "72") if @app.android_icon? %></div>
    <div class="col-10">
    <%= f.label :android_icon %>
    <%= f.file_field :android_icon, :class => "form-control-file", :'aria-describedby' => "fileHelp" %>
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
    </div>
</div>

<div class="form-group row">
  <div class="col-2 text-center"><%= image_tag(@app.ios_icon.url, :size => "72") if @app.ios_icon? %></div>
  <div class="col-10">
    <%= f.label :ios_icon %>
    <%= f.file_field :ios_icon, :class => "form-control-file", :'aria-describedby' => "fileHelp" %>
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </div>
</div>

<div class="form-group">
    <%= f.label :internal_name %>
    <%= f.text_field :internal_name, :class => "form-control" %>
</div>

<div class="form-group">
    <%= f.label :internal_id %>
    <%= f.text_field :internal_id, :readonly => true, :class => "form-control" %>
</div>

<div class="form-group">
    <%= f.label :runtime %>
    <%= f.text_area :runtime, :class => "jsoneditor-target form-control"%>
</div>
<div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Runtime config', runtime_app_path(@app), :class => "btn btn-outline-primary", :target => '_blank' %>
</div>
<% end %>

</main>
